@{
    ViewData["Title"] = "Reporte Calendario";
}

<partial name="_Submenu" model="SubMenuTransacciones.Calendario"/>
<div id="calendario">

</div>

@section Scripts {
    <script src="~/lib/fullcalendar/dist/index.global.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            const calendarioEL = document.getElementById('calendario');
            const calendario = new FullCalendar.Calendar(calendarioEL, {
                dayMaxEventRows:3,
                InitialView: 'dayGridMonth',
                events: '/transacciones/ObtenerTransaccionesCalendario'
            });
            calendario.render();
        })
    </script>
}