@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Reporte Diario";
}

<h1>Indice de transacciones</h1>
<partial name="_Submenu" model="SubMenuTransacciones.Diario" />
<div class="mb-3">
    <a asp-action="Crear" class="btn btn-primary">Crear una nueva transacción</a>
</div>

<partial name="_ReporteTransaccionesDetalladas" model="Model" />