@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Reporte Diario";
}

<h1>Indice de transacciones</h1>
<partial name="_Submenu" model="SubMenuTransacciones.Diario" />
<partial name="_ReporteTransaccionesDetalladas" model="Model" />