@model Categoria;

@{
    ViewData["Title"] = "Borrar Categoria";
}

<h3 class="mb-3">
    ¿Estas seguro que desea borrar la categoria @Model.Nombre?
</h3>

<form asp-action="BorrarCategoria">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>