@model Categoria;
@{
    ViewData["Title"] = "Editar Categoria";
}

<h1>Editar Categoria</h1>
<h5>La Categoria nos permite indicar en qué gastamos nuestro dinero,
    también, de donde probiene nuestro ingreso.
</h5>


<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for=Nombre class="form-label"></label>
        <input asp-for=Nombre type="text" class="form-control" />
        <span asp-for=Nombre class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for=TipoOperacionId class="form-label"></label>
        <select asp-for="TipoOperacionId" name="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select">
        </select>
        <span asp-for="TipoOperacionId" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
