@model TipoCuenta
@{
    ViewData["Title"] = "Borrar Tipo Cuenta";
}

<h3 class="mb-3">¿Está seguro de borar el tipo de cuenta @Model.Nombre?</h3>
<form asp-action="BorrarTipoCuenta">
    <input type="hidden" asp-for="Id"/>
    <button class="btn btn-danger" type="submit">Borrar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>