@model TipoCuenta
@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear tipo de cuenta</h1>
<h5>
    El tipo de cuenat se refiere a como podemos agrupar cuentas.
    Ejemplo: Préstamo,Tarjeta de crédito, etc.
</h5>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Crear">
    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control"/>
    </div>
    <button class="btn btn-outline-primary">Enviar</button>
</form>